<div class="article-container">
    <a class="btn-close"><span>×</span></a>
    <div class="img-container">
       <span class="full-img" ng-show='currentArticle.multimedia' style="background-image: url('http://www.nytimes.com/{{ currentArticle.multimedia[1].url }}');"></span>
       <span class="full-img" ng-hide='currentArticle.multimedia' style="background-image: url('/images/defaut.jpg');"></span>
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                <path fill="#FFFFFF"  id="location-2-icon" d="M255.05,55.058c59.955,0,108.732,48.777,108.732,108.732c0,69.179-72.138,182.12-108.732,243.736
                    C193.115,303.24,146.318,223.547,146.318,163.79C146.318,103.835,195.095,55.058,255.05,55.058 M255.05,7
                    C168.458,7,98.26,77.197,98.26,163.79S166.878,351.017,255.05,502c88.171-150.982,156.79-251.617,156.79-338.21S341.644,7,255.05,7
                    L255.05,7z M255.05,107.848c-30.123,0-54.543,24.42-54.543,54.541s24.42,54.541,54.543,54.541s54.541-24.418,54.541-54.541
                    S285.173,107.848,255.05,107.848L255.05,107.848z"/>
            </svg>
            <span>{{currentArticle.location}}</span>
        </div>
    </div>

    <article>
        <header>
            <span ng-if='currentArticle.news_desk' class="article-category">{{currentArticle.section_name}} / {{currentArticle.news_desk}}</span>
            <span ng-if='currentArticle.pub_date' class="article-date">{{currentArticle.pub_date}}</span>
            <h2>{{currentArticle.headline.main}}</h2>
        </header>
        <p>
            {{currentArticle.snippet}}
        </p>
        <nav class="aside-navigation">
			<a ng-show='currentArticle.web_url' target='_blank' href="{{currentArticle.web_url}}" data-hover="Read more">Read more</a>
			<a href="#" id="toggleTwitter" data-hover="Related tweets">Related tweets</a>
		</nav>
    </article>
</div>
<div class="twitter-container">
    <h2>Related tweets</h2>
    <ul>
        <li ng-repeat='tweet in relatedTweets'>
            
            <div class="tweet-container">
                <span ng-show='tweet.user.name' class="tweet-name">{{tweet.user.name}}</span>
                <span ng-show='tweet.user.screen_name' class="tweet-username">@{{tweet.user.screen_name}}</span>
                <p ng-show='tweet.text' class="tweet-content"> 
                    {{tweet.text}}
                </p>
            </div>
        </li>
    </ul>
</div>